@charset "utf-8";
@import "normalize";


body {
  padding-top: 70px;
  padding-bottom: 30px;
}

#carousel-comic-books {
  width: 1140px;
  height: 581px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
