<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/publications.html#graphic_novels">Graphic Novels</a></li>
        <li class="active">"The Road From Earth to Heaven" poster by W. J. Dittmar</li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>"The Road From Earth to Heaven" poster by W. J. Dittmar - <span id="current-image-title">Front Cover</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <hr />
    </div>
    <div class="col-md-9">
      <hr />
      <div id="current-image">
        <img src="/images/publications/road/road0.jpg" class="img-thumbnail" alt="Calvary Comics"></a>
      </div>
    </div>
  </div>
</div><!-- /.container -->
