<div class="container">
  <h1>Comics Tracts</h1>
  <div class="row">
    <div class="col-md-6">
      <a href="comics/Roever/index.html" target="_top"><img src="images/banners/roeverlink.jpg" class="img-thumbnail" alt="Calvary Comics"></a>
    </div>
    <div class="col-md-6">
      <a href="comics/unshackled/index.html" target="_top"><img src="images/banners/haufflogo.jpg" class="img-thumbnail" alt="Calvary Comics"></a>
    </div>
  </div>
</div><!-- /.container -->
