<div class="container">
  <h1>Contact</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>Mailing Address:</h3>
      <address>
      <strong>Calvary Comics</strong><br />
      P.O. Box 771<br />
      Dover, NJ 07802<br />
      USA
      </address>

      <h3>Email:</h3>

      <a href="mailto:editor@calvarycomics.com">editor@calvarycomics.com</a>
    </div>
  </div>
</div>
