---
title: Links
---
<div class="container">
  <div class="row col-md-12">
    <h1><%= current_page.data.title %></h1>
    <p><a href="http://www.socintl.org" target="_blank">The School of Christ International</a></p>
    <p><a href="http://www.pentecostalpioneers.org" target="_blank">Pentecostal Pioneers</a></p>
    <p><a href="http://www.comix35.org" target="_blank">COMIX35</a></p>
    <p><a href="http://www.chick.com" target="_blank">Chick Publications</a></p>
    <p><a href="http://www.crosswindcomics.com" target="_blank">Crosswind Comics</a></p>
  </div>
</div>
