---
title: Ordering
---

<div class="container">
  <div class="row col-md-3 col-sm-12">
    <br /><br /><br />
    <p><strong>Send check or money order to:</strong></p>
    <address>
    Calvary Comics<br>
    P.O. Box 771<br>
    Dover, NJ 07802
    </address>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="business" value="calvary_comics@hotmail.com">
    <input type="image" src="https://www.paypal.com/en_US/i/btn/view_cart.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    <input type="hidden" name="display" value="1">
    </form>
  </div>
  <div class="row col-md-9 col-sm-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Description</th>
					<th>Price Details</th>
					<th>Order</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<img src="images/order/hallelujah_cover.jpg" alt="Hallelujah!">
					</td>
					<td>
						<strong>Hallelujah</strong>
					</td>
					<td>
						<ul>
							<li>comics anthology</li>
							<li>80 pages, black-and-white</li>
							<li>with color covers,</li>
							<li>perfectbound</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>$8.95 per copy + postage &amp; handling</li>
							<li>1-9 books, add $4.00</li>
							<li>10-19 books, add $6.50</li>
							<li>20 or more books, add $8.00</li>
						</ul>
					</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="3NYE8SEYXKBG2">
						<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</td>
				</tr>
  		  <!--***********************************************************-->
				<tr>
					<td>
						<img src="images/order/roever_cover.jpg" alt="The Road From Earth to Heaven">
					</td>
					<td>
						<strong>The Dave Roever Story</strong>
					</td>
					<td>
						<ul>
							<li>comics booklet</li>
              <li>3.5" x 5.75"</li>
              <li>27 full color comics pages </li>
              <li>plus cover art</li>
              <li>saddlestitched</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>$1 each</li>
							<li>1-9 copies, 50 cents postage</li>
							<li>10-19 copies, $2 postage</li>
							<li>20 or more copies, $3 postage</li>
						</ul>
					</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="JTKVW5MF8QK74">
						<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</td>
				</tr>
  		  <!--***********************************************************-->
				<tr>
					<td>
						<img src="images/order/road_to_heaven_cover.jpg" alt="The Road From Earth to Heaven">					</td>
					<td>
						<strong>The Road From Earth to Heaven</strong>
					</td>
					<td>
						<ul>
							<li>poster by W. J. Dittmar</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>11" x 15" on 67# glossy paper stock</li>
							<li>$2 per poster, plus shipping and handling:</li>
							<li>1-10 posters, add $4</li>
							<li>11-20 posters, add $6.50</li>
							<li>21 or more, add $8</li>
						</ul>
					</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="HM8J4S4NZDDV6">
						<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</td>
				</tr>
				<!--***********************************************************-->
				<tr>
					<td>
						<img src="images/order/puddle_cover.jpg" alt="From Puddle to Paradise">
					<td>
						<strong>From Puddle to Paradise?</strong>
					</td>
					<td>
						<ul>
							<li>Creation vs. evolution book</li>
							<li>450 pages</li>
							<li>black-and-white with color covers</li>
							<li>perfectbound</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>$29.95 per copy + postage &amp; handling</li>
							<li>1-9 books, add $4.00</li>
							<li>10-19 books, add $6.50</li>
							<li>20 or more books, add $8.00</li>
						</ul>
					</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="ZKABP4B33QBKL">
						<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</td>
				</tr>
				<!--***********************************************************-->
				<tr>
					<td>
						<img src="images/order/mlmc_cover.jpg" alt="Marx, Lenin, Mao, &amp; Christ">
					<td>
						<strong>Marx, Lenin, Mao, &amp; Christ</strong>
					</td>
					<td>
						<ul>
							<li>graphic novel</li>
							<li>48 pages</li>
							<li>black-and-white with color covers</li>
							<li>perfectbound</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>$4.95 per copy + postage &amp; handling</li>
							<li>1-9 books, add $4.00</li>
							<li>10-19 books, add $6.50</li>
							<li>20 or more books, add $8.00</li>
						</ul>
					</td>
					<td>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="QZ3PDZVMQLH98">
						<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</td>
				</tr>
				<!--***********************************************************-->
        <tr>
					<td>
            <img src="images/order/clendennan_cover.jpg" alt="Clendennan: Soldier of the Cross">
					<td>
						<strong>Clendennen: Soldier of the Cross</strong>
					</td>
					<td>
						<ul>
              <li>Graphic novel</li>
  						<li>48 pages</li>
              <li>Full color</li>
              <li>Perfectbound</li>
						</ul>
					</td>
					<td>
						<ul>
              <li>$6.95 per copy + postage &amp; handling:</li>
  						<li>1-9 books, add $4.00</li>
  						<li>10-19 books, add $6.50</li>
  						<li>20 or more books, add $8.00</li>
						</ul>
					</td>
					<td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="BS33NLBRKM8Y8">
            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
					</td>
				</tr>
				<!--***********************************************************-->
        <tr>
					<td>
            <img src="images/order/glory_to_god_cover.jpg" alt="Revival Among the Zulu">
					<td>
            <strong>Glory to God</strong>
					</td>
					<td>
						<ul>
              <li>comics anthology</li>
              <li>100 pages</li>
              <li>black-and-white</li>
              <li>with color covers</li>
              <li>perfectbound</li>
						</ul>
					</td>
					<td>
						<ul>
              <li>$8.95 per copy + postage &amp; handling</li>
              <li>1-9 books, add $4.00</li>
              <li>10-19 books,   add $6.50</li>
              <li>20 or more books, add $8.00</li>
						</ul>
					</td>
					<td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6162743">
            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
					</td>
				</tr>
				<!--***********************************************************-->
        <tr>
					<td>
            <img src="images/order/zulu_cover.jpg" alt="Revival Among the Zulu">
					<td>
            <strong>Revival Among the Zulus</strong>
					</td>
					<td>
						<ul>
              <li>graphic novel</li>
              <li>48 pages in full color</li>
              <li>perfectbound</li>
						</ul>
					</td>
					<td>
						<ul>
              <li>$6.95 per copy + postage &amp; handling</li>
              <li>1-9 books, add $4.00</li>
              <li>10-19 books, add $6.50</li>
              <li>20 or more books, add $8.00</li>
						</ul>
					</td>
					<td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="calvary_comics@hotmail.com">
            <input type="hidden" name="item_name" value="Revival Among the Zulus">
            <input type="hidden" name="amount" value="6.95">
            <input type="hidden" name="no_shipping" value="0">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-ShopCartBF">
            </form>
					</td>
				</tr>
				<!--***********************************************************-->
        <tr>
					<td>
            <img src="images/order/pace_poster.jpg" alt="The Contrast">
					<td>
            <strong>"The Contrast"</strong> poster by E. J. Pace
					</td>
					<td>
						<ul>
              <li>11" x 14" on 67# glossy paper stock</li>
						</ul>
					</td>
					<td>
						<ul>
              <li>$2 per poster, plus shipping and handling</li>
              <li>1-10 posters, add $4</li>
              <li>11-20 posters, add $6.50</li>
              <li>21 or more, add $8</li>
						</ul>
					</td>
					<td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="L5RAA2FZZLYWJ">
            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
					</td>
				</tr>
				<!--***********************************************************-->
        <tr>
					<td>
            <img src="images/order/pace_cover.jpg" alt="E. J. Pace">
					<td>
            <strong>E. J. Pace:&nbsp; Christian Cartoonist</strong>
					</td>
					<td>
						<ul>
              <li>biography</li>
              <li>art book</li>
              <li>250 pages black &amp; white</li>
              <li>color covers</li>
              <li>perfectbound</li>
						</ul>
					</td>
					<td>
						<ul>
              <li>$19.95 per copy + postage &amp; handling</li>
              <li>1-5 books, add $4</li>
              <li>6-10 books, add $6.50</li>
              <li>11 or more books, add $8</li>
						</ul>
					</td>
					<td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="calvary_comics@hotmail.com">
            <input type="hidden" name="item_name" value="E. J. Pace: Christian Cartoonist">
            <input type="hidden" name="amount" value="19.95">
            <input type="hidden" name="buyer_credit_promo_code" value="">
            <input type="hidden" name="buyer_credit_product_category" value="">
            <input type="hidden" name="buyer_credit_shipping_method" value="">
            <input type="hidden" name="buyer_credit_user_address_change" value="">
            <input type="hidden" name="no_shipping" value="0">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-ShopCartBF">
            </form>
					</td>
				</tr>
				<!--***********************************************************-->
        <tr>
					<td>
            <img src="images/order/sadhu_cover.jpg" alt="Sadhu Singh">
          <td>
            <strong>Sadhu Sundar Singh</strong>
					</td>
					<td>
						<ul>
              <li>graphic novel</li>
              <li>48 pages in full color</li>
              <li>perfectbound</li>
						</ul>
					</td>
					<td>
						<ul>
              <li>$6.95 per copy + postage &amp; handling</li>
              <li>1-9 books, add $4.00</li>
              <li>10-19 books, add $6.50</li>
              <li>20 or more books, add $8.00</li>
						</ul>
					</td>
					<td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="calvary_comics@hotmail.com">
            <input type="hidden" name="item_name" value="Sadhu Sundar Singh graphic novel">
            <input type="hidden" name="amount" value="6.95">
            <input type="hidden" name="buyer_credit_promo_code" value="">
            <input type="hidden" name="buyer_credit_product_category" value="">
            <input type="hidden" name="buyer_credit_shipping_method" value="">
            <input type="hidden" name="buyer_credit_user_address_change" value="">
            <input type="hidden" name="no_shipping" value="0">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-ShopCartBF">
            </form>
					</td>
				</tr>
				<!--***********************************************************-->
        <tr>
					<td>
            <img src="images/order/unshackled_cover.jpg" alt="Unshackled!">
          <td>
            <strong>"Unshackled!"</strong>
					</td>
					<td>
						<ul>
              <li>comics booklet</li>
              <li>3" x 5"</li>
              <li>fifteen black-and-white comics pages </li>
              <li>plus cover art</li>
              <li>saddlestitched</li>
						</ul>
					</td>
					<td>
						<ul>
              <li>50 cents each.</li>
              <li>1-9 copies, 50 cents postage</li>
              <li>10-19 copies, $2 postage</li>
              <li>20 or more copies, $3 postage</li>
						</ul>
					</td>
					<td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="calvary_comics@hotmail.com">
            <input type="hidden" name="item_name" value="Unshackled">
            <input type="hidden" name="amount" value="0.50">
            <input type="hidden" name="no_shipping" value="0">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-ShopCartBF">
            </form>
					</td>
				</tr>
				<!--***********************************************************-->
			</tbody>
		</table>
	</div>
</div>
