---
title: Publications
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="active"><a href="/index.html">Home</a></li>
        <li class="active">Publications</li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <% data.publications.each do |type, publications| %>
    <a name="<%= type %>"></a>
    <h1><%= type.split("_").map(&:capitalize).join(" ") %></h1>
    <div class="row">
      <div class="col-md-12">
        <% publications.each do |key, publication| %>
          <a href="/publications/<%= key %>.html" target="_top"><img src="images/banners/<%= publication.banner_image %>" class="publication-banner img-thumbnail" alt="Calvary Comics"></a>
        <% end %>
      </div>
    </div>
    <hr />
  <% end %>
</div>
